* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}
li {
    list-style-type: none;
} 
.large {
    background-image: url("nature.jpeg");
    background-size: cover;
    height: 662px;
    position: relative;
}
.container {
    width: 90%;
    margin: auto;
    float: left;
}
.freedom {
    background-color: white;
    height: 622px;
    width: 97%;
    position: absolute;
    top: 20px;
}
.large .freedom h1 {
    text-align: center;
    padding-top: 7px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.8);
}
.large .freedom p {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.7);
}
.large .home {
    margin-left: 270px;
}
.large .home li {
    float: left;
    padding-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.home a:hover {
    color: rgb(30, 100, 255);
    transition: all 0.3s ease-in-out;
}
.middle {
    width: 97%;
    border-top: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
    height: 230px;
    padding-left: 22px;
    position: absolute;
    top: 150px;
} 
.middle .icon1 {
    color: rgb(200, 200, 200);
    height: 240px;
    padding-top: 120px;
    padding-left: 17px;
    font-size: 30px;
    float: left;
}
.middle .theme {
    background-image: url("photography.jpg");
    width: 100%;
    height: 210px;
    background-size: cover;
    background-position: center;
    margin: 9px 0;
    float: left;
}
.row .col-md-5 h2 {
    margin-left: 75px;
    padding-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.7);
}
.middle .paragraph {
    font-family: 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.7);
    padding-top: 4px;
    padding-left: 332px;
    margin-left: -256px;
}
.btn {
    height: 33px;
    width: 96px;
    background-color: rgb(30, 100, 255);
    border: none;
    border-radius: 3px;
    color: white;
    margin-left: 76px;
    margin-top: 5px;
}
.icon2 {
    color: rgb(200, 200, 200);
    height: 240px;
    padding-left: 55px;
    padding-top: 120px;
    float: left;
    font-size: 30px;
}
.bottom {
    position: relative;
    top: 390px;
}
.bottom .img1 {
    background-image: url(way.jpg);
    background-size: cover;
    height: 240px;
    width: 100%;
    margin-left: 55px;
}
.bottom .img1 h4 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    padding-top: 75px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.far {
    color: white;
    padding-left: 70px;
}
.bottom .img1 p {
    display: inline;
    color: white;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ic1 {
    color: white;
    padding-left: 40px;
}
.bottom .img2 {
    background-image: url("fisherman.jpg");
    background-size: cover;
    height: 240px;
    width: 100%;
    margin-left: 250px;
}
.bottom .img2 h4 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    padding-top: 75px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bottom .img2 p {
    display: inline;
    color: white;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
